@charset "UTF-8";

/* module
------------------------*/
body {
	margin: 0px;
	padding: 0px;
	min-width: 450px;
	width: 1000px;
}
ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
iframe {
	border: 0px;
}
/* header
------------------------*/
.header {
	background: #fff;
	padding: 20px;
	border-bottom: 1px solid #c0c0c0;
}
.header .header_title {
	float: left;
	margin-right: 100px;
}
.header .my_company_name{
	float: left;
	color: #888;
	padding-top: 8px;
}
.header .accaunt_name{
	float: right;
	color: #888;
	padding-top: 8px;
}

/* containar
------------------------*/
.containar {
}

/* left_containar
------------------------*/
.left_containar {
	float: left;
	padding: 10px;
	
}

.left_containar ul.create_btn_area{
	width: 250px;
}

.left_containar ul.create_btn_area li{
	width: 100%;
}

.left_containar ul.create_btn_area a {
	display: block;
	width: 100%;
	padding: 10px 0px;
	
	color: #999;
	font-size: 20px;
	text-align: center;
}

.left_containar .create_btn_area a:hover {
	background: #fbfbfb;

	color: #555;
	text-decoration: none;
}
.left_containar .create_btn_area a:active {
	background: #fbfbfb;

	color: #555;
	text-decoration: none;
}
.left_containar .create_btn_area a:focus {
	background: #fbfbfb;

	color: #555;
	text-decoration: none;
}

/* right_containar
------------------------*/
.right_containar {
	float: left;
	width: 700px;
}

/* preview
------------------------*/
.preview_modal .modal-dialog{
	margin: 5px auto;
}
.preview_modal .modal-dialog .modal-body {
	padding: 0px;
}
iframe.preview {
	width: 100%;
}

/* page
------------------------*/
.page {
}
.page .page_title {
	float: left;
}
.page .page_menu {
	float: right;
	margin-top: 5px;
}
.page .page_menu .page_menu_list {
	float: left;
	margin-left: 5px;
}
.page .page_menu .page_menu_btn {
	float: left;
	margin-left: 5px;
}

/* form
------------------------*/
.form .form-group {
	margin-bottom: 0px;
	color: #666;
	border-bottom: 1.5px solid #eee;
}
.form .form_content_title {
	float: left;
	width: 200px;
}
.form .form_content_title.right span{
	float: right;
}
.form .form_content_title span{
	float: left;
	display: block;
	padding: 7px 10px;
}
.form .form_content_title button {
	float: right;
	margin-top: 1px;
	border: 0px;
	background: none;
}
.form .form_content_value {
	float: left;
}
.form .form_content_value span{
	display: block;
	padding-top: 7px;
	padding-left: 7px;
}
.form .form_content_value span span{
	color: #ccc;
	padding: 0px;
}
.none {
	color: #999;
	text-decoration: line-through;
}
.form .form_content_value label{
	padding-left: 30px;
}
.form .form_content_title_lg {
	width: 100%;
	padding: 7px 10px;
	margin-right: 5px;
}

.form .form_content_value_lg {
	width: 100%;
	border-bottom: 1.5px solid #eee;
}

.form table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.form table thead th{
	border-bottom: 1px solid #e0e0e0;
	
	font-weight: normal;
}
.form table tbody tr.overflow_hidden td{
	word-break:break-all;
}
.form table tbody tr.overflow_hidden td div{
	width: 100%;
	overflow:hidden;
}
.form table tbody td.name {
	width: 200px;
}
.form table tbody td.description {
	width: 200px;
}
.form table tbody td.quantity {
	width: 50px;
}
.form table tbody td.unit_price {
	width: 90px;
}
.form table tbody td.line_total {
	width: 110px;
	text-align: right;
	padding-right: 5px;
}
.form table tbody td.disp{
	border-bottom: 1px solid #e0e0e0;
}
table tbody td span.text{
	color: #ccc;
}
.form table tbody td input[type="text"] {
	padding: 2px 7px;
}
.form table tfoot td.subtotal {
	text-align: right;
	padding-right: 5px;
}
.form table tfoot td.salestax {
	text-align: right;
	padding-right: 5px;
}
.form table tfoot td.total {
	text-align: right;
	padding-right: 5px;
}
.form textarea {
	width: 100%;
	height: 100px;
}

/* basic_area
------------------------*/
.form .basic_area .form-group:nth-child(even) {
	background: #F9F8F7;
}

/* my_company_area
------------------------*/
.my_company_area {
	background: #EDFFF1;
}
.my_company_area button {
	background: #EDFFF1;
}
.my_company_area input[disabled]{
	background: none;
	border: 0px;
	cursor: default;
}
.my_company_input_area {
	display: none;
}

/*	footer
------------------------*/
.copyright {
	margin-top: 10px;
	text-align: center;
	font-size: 10px;
}


/* notice
------------------------*/
.notice {
	display: none;
	position: fixed;
	bottom: -10px;
	right: 10px;
	min-width: 100px;
}